<!DOCTYPE html>
<html>
<head>
  <title>MathBin</title>

  <!-- MATHJAX -->
  <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript" ></script>

  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>

  <!-- ACE -->
  <script src="/js/ace/ace-noconflict.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/ace/theme-solarized_dark-noconflict.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/ace/mode-latex-noconflict.js" type="text/javascript" charset="utf-8"></script>

    
    <style type="text/css" media="screen">
      body, div, span, h1, h2, h3, h4, h5, ul, li, input, pre, table, td, tr, tbody {margin:0; padding:0; border:none; border-spacing:0; background:none;}
      form {display:inline;}
      #editor {
      }
      #input {  
        position: absolute;
        top:0; right:0; bottom:0; left:0;
      }
      
      #output {
        padding:15px 0 0 15px;      
        overflow:scroll;
      }
      
      #reload {
        width:70px; height:24px; background-color:#ee5949;
        text-align:center; line-height:24px; color:#e7ee5c; font-family:'Helvetica';
        position:absolute; top:4px; right:4px; z-index:10;
      }
      
      #reload:hover {cursor:pointer}
      
      #menu {
        position:absolute; bottom:0px; right:0px; z-index:10;
        width:150px; height:30px; padding-left:10px;
        background:rgba(200,200,200,0.5);
        color:#333;
      }
      
      h1 {
        display:inline;
        font-size:13px
      }
      #menu a, #menu input {
        line-height:30px;
        color:#333;
        font-size:13px
      }
      
      #menu a:hover, #menu input:hover {
        color:#2D4FAD;
        cursor:pointer;
      }
      
      td {
        position:relative;
      }
      
    </style>
    
</head>
<body>
  <script type="text/javascript" charset="utf-8">
  
    $('body').ready(function(){
      
      var tex = <%= (@tex.nil? ? "": @tex.blob).inspect %>
      resize_elements();
      
      // ACE SETTINGS
      window.editor = ace.edit("input");
      window.editor.setTheme("ace/theme/solarized_dark");
      var JavaScriptMode = ace.require("ace/mode/latex").Mode;
      var session = editor.getSession();
      session.setMode(new JavaScriptMode());
      window.editor.setHighlightActiveLine(false);
      session.setUseWrapMode(true);
      window.editor.setShowPrintMargin(false);
      
      session.setValue(tex);
      render_tex();
    })

    
    $('window').resize(function(){
      resize_elements()
    })
        
    $('input[type="submit"]').live('click', function(){
      var tex = get_tex();
      $('input[name="tex"]').val(tex)
      $('form').submit();
    })
    
    $(document).live('keyup', function(){
      render_tex();
    })
    
    function get_tex(){
      return window.editor.getSession().getValue();
    }
    
    function render_tex() {
      var tex = get_tex();
      $('#output').html(tex)
      var math = document.getElementById("output");
      MathJax.Hub.Queue(["Typeset",MathJax.Hub,math]);
    }

    function resize_elements(){
      $('#input').css('height', $(window).height()-15)
      $('#output').css('height', $(window).height()-15)
      $('table').css('width', $(window).width())
      $('table td').css('width', $(window).width()/2-1)
    }
          
  </script>
  

  <div id="menu">
    <form name="input" action="save" method="post">
      <input name="tex" type="hidden" value=""/>
      <input type="submit" value="Save" />
    </form>
    &nbsp; <h1>MathBin</h1>
  </div>
  <table>
    <tr>
      <td id="left" width="50%">        
        <pre id="input"></pre>
      </td>
      <td id="right" width="50%">
        <div id="output"></div>
      </td>
    </tr>
</table>


<!--   
<div contenteditable="true">
</div>

 -->
</body>
</html>

