<!DOCTYPE html>
<html>
<head>
  <title>MathBin</title>

  <!-- MATHJAX -->
  <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript" ></script>

  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>

  <!-- ACE -->
  <script src="/js/ace/ace-noconflict.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/ace/theme-solarized_dark-noconflict.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/ace/mode-latex-noconflict.js" type="text/javascript" charset="utf-8"></script>

  <!--  GENERAL -->
  <link rel="stylesheet" href="/css/editor.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script src="/js/editor.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    $('body').ready(function(){

      var tex = <%= (@tex.nil? ? "": @tex.blob).inspect %>
      resize_elements();

      // ACE SETTINGS
      window.editor = ace.edit("input");
      window.editor.setTheme("ace/theme/solarized_dark");
      var JavaScriptMode = ace.require("ace/mode/latex").Mode;
      var session = editor.getSession();
      session.setMode(new JavaScriptMode());
      window.editor.setHighlightActiveLine(false);
      session.setUseWrapMode(true);
      window.editor.setShowPrintMargin(false);

      session.setValue(tex);
      render_tex();
    })
  </script>
</head>
<body>
  <div id="menu">
    <div class="wrapper">
      <h1>MathBin</h1>
      <div style="float:right; padding-right:15px;">
      <a id="embed" href="#">Embed</a> &nbsp;
      <div id="embed-popup"><div class="script_tag">
        &lt;script src=&quot;<%= @embed_url %>&quot;&gt;&lt;/script&gt; </div>
      </div>
      <form name="input" action="save" method="post">
        <input name="tex" type="hidden" value=""/>
        <input name="bid" type="hidden" value="<%= @bid %>"/>
        <input type="submit" value="Save" />
      </form>
      </div>
    </div>
  </div>
  
  <table>
    <tr>
      <td id="left" width="50%">        
        <pre id="input"></pre>
      </td>
      <td id="right" width="50%">
        <div id="output"></div>
      </td>
    </tr>
</table>


<!--   
<div contenteditable="true">
</div>

 -->
</body>
</html>

