<!DOCTYPE html>
<html>
<head>
  <title>MathBin</title>

  <!-- MATHJAX -->
  <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript" ></script>

  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>

  <!-- ACE -->
  <script src="/js/ace/ace-noconflict.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/ace/theme-solarized_dark-noconflict.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/ace/mode-latex-noconflict.js" type="text/javascript" charset="utf-8"></script>

  <!--  GENERAL -->
  <link rel="stylesheet" href="/css/editor.css" type="text/css" media="screen" title="no title" charset="utf-8">
    
</head>
<body>
  <script type="text/javascript" charset="utf-8">
  
    $('body').ready(function(){
      
      var tex = <%= (@tex.nil? ? "": @tex.blob).inspect %>
      resize_elements();
      
      // ACE SETTINGS
      window.editor = ace.edit("input");
      window.editor.setTheme("ace/theme/solarized_dark");
      var JavaScriptMode = ace.require("ace/mode/latex").Mode;
      var session = editor.getSession();
      session.setMode(new JavaScriptMode());
      window.editor.setHighlightActiveLine(false);
      session.setUseWrapMode(true);
      window.editor.setShowPrintMargin(false);
      
      session.setValue(tex);
      render_tex();
    })

    
    $('window').resize(function(){
      resize_elements()
    })
        
    $('input[type="submit"]').live('click', function(){
      var tex = get_tex();
      $('input[name="tex"]').val(tex)
      $('form').submit();
    })
    
    $(document).live('keyup', function(){
      render_tex();
    })
    
    function get_tex(){
      return window.editor.getSession().getValue();
    }
    
    function render_tex() {
      var tex = get_tex();
      $('#output').html(tex)
      var math = document.getElementById("output");
      MathJax.Hub.Queue(["Typeset",MathJax.Hub,math]);
    }

    function resize_elements(){
      $('#input').css('height', $(window).height()-15)
      $('#output').css('height', $(window).height()-15)
      $('table').css('width', $(window).width())
      $('table td').css('width', $(window).width()/2-1)
    }
          
  </script>
  

  <div id="menu">
    <a href="#">Embed</a> &nbsp;
    <form name="input" action="save" method="post">
      <input name="tex" type="hidden" value=""/>
      <input type="submit" value="Save" />
    </form>
    &nbsp; <h1>MathBin</h1>
  </div>
  <table>
    <tr>
      <td id="left" width="50%">        
        <pre id="input"></pre>
      </td>
      <td id="right" width="50%">
        <div id="output"></div>
      </td>
    </tr>
</table>


<!--   
<div contenteditable="true">
</div>

 -->
</body>
</html>

