<html>
  <head>
    <title>MathBin<%= ": #{@tex.bid}" unless @tex.nil? %></title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>
  <body>
    <script src="<%= @url %>"></script>
  </body>
</html>