.MathBin {
  background:transparent;
}
.MathBinTex {
  padding:20px;
  border:1px solid #ddd;
}

.MathBinCredit {
  background:#eee;
  padding:7px 15px;
  font-family:'Lucida Grande',Arial, Helvetica, sans-serif;
  font-size:0.7em;
  color:#666;
  border:1px solid #ccc;
  border-top:0;
}

.MathBinCredit a
{
  color:#369;
}
